{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div id="vue-app"></div>
<h1>page home candidat</h1>
<a href="{{ path('app_logout') }}">Se déconecter</a>
{% endblock %}
