{# Email que reçoit l'utilisateur lors de son inscription qui demande de valider le compte #}
<h1>Ouais gros</h1>

<p>
    Confirme ton mail avec le lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
