@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input, textarea, select {
        @apply bg-white dark:bg-gray-700 text-gray-900 dark:text-white border-gray-300 dark:border-gray-600 focus:ring-blue-500 focus:border-blue-500;
    }

    label {
        @apply text-gray-700 dark:text-gray-300;
    }
}
/* body {
    background-color: skyblue;
} */
