name: Symfony CI/CD

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      APP_ENV: test
      APP_DEBUG: 0
      APP_SECRET: 67d3b0c95805e254e4277b902e1c9d82
      DATABASE_URL: mysql://root:root@127.0.0.1:3306/symfony_test?serverVersion=8.0
      # On dit au Runtime de ne surtout pas chercher de fichier .env
      SYMFONY_DOTENV_PATH: /dev/null
      DEFAULT_URI: http://localhost

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: symfony_test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, xml, ctype, iconv, intl, pdo_mysql
          coverage: none

      # ON SUPPRIME LE RISQUE : On crée un .env et on neutralise Flex
      - name: Force Environment
        run: |
          echo "APP_ENV=test" > .env
          echo "APP_SECRET=67d3b0c95805e254e4277b902e1c9d82" >> .env
          echo "DATABASE_URL=mysql://root:root@127.0.0.1:3306/symfony_test?serverVersion=8.0" >> .env
          # On empêche Flex d'exécuter quoi que ce soit pendant l'install
          composer config allow-plugins.symfony/flex false

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress --no-scripts

      # Maintenant que tout est installé, on réactive ce qu'il faut pour la console
      - name: Create Database
        run: |
          php bin/console doctrine:database:create --no-interaction
          php bin/console doctrine:schema:update --force --no-interaction

      - name: Run Tests
        run: php bin/phpunit